:host {
  --gifa11y-font: system-ui, "Segoe UI", roboto, helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*, :before, :after {
  box-sizing: border-box;
}

button {
  z-index: 500;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  min-height: 36px;
  margin: 12px;
  padding: 4px;
  line-height: normal;
  transition: all .2s ease-in-out;
  display: flex;
  position: absolute;
  box-shadow: 0 0 16px #0000004f;
}

button:before {
  content: "";
  min-width: 50px;
  min-height: 50px;
  position: absolute;
  inset: -8.5px;
}

button:focus-visible {
  outline: 3px solid #0000;
}

.v2 {
  text-align: center;
  border-radius: 5px;
  flex-wrap: wrap;
  place-content: center;
  align-items: center;
  display: flex;
}

.v2:after {
  font-family: var(--gifa11y-font);
  content: "GIF";
  padding-left: 3px;
  padding-right: 3px;
  font-weight: 600;
  line-height: 0;
  display: inline-block;
}

i {
  vertical-align: middle;
  padding: 4px;
}

svg {
  vertical-align: middle;
  flex-shrink: 0;
  display: block;
  position: relative;
}
